/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2015, 9:26:27 PM
    Author     : joe
*/
/* line 11, ../scss/login.scss */
#top-bar {
  margin-bottom: 20px;
}
